body {
  color: rgb(100, 100, 100);
  background-color: rgb(230, 230, 230);
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  text-align: center;
  font-weight: lighter;
}

p {
  font-family: 'Merriweather', serif;
  font-weight: lighter;
  color: rgb(150, 150, 150);
}

h1 {
  color: #D74E09;
}

h2, h3 {
  font-weight: 300;
}

li {
  list-style-type: none;
  font-size: 20px;
}

a {
  color: rgb(200, 200, 200);
}

a:hover {
    color: #D74E09;;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.list-inline {
  padding-left: 0;
}

.list-inline li {
    display: inline-block;
    padding: 20px;
}

.container {
  width: 500px;
  margin: 0 auto;
}

#perfil {
  margin:;
}

#perfil-img {
  width: 100px;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}


#projects img {
  width: 200px;
  box-shadow:  1px 1px 3px rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  margin: 20px;
}

.card {
  margin-bottom: 15px;
  background-color: rgb(250, 250, 250);
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px;

}
